* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1.center,
h2.center,
h3.center,
p.center {
    text-align: center;
}

p.big {
    font-size: var(--p-big);
}

p.semibig {
    font-size: calc(var(--p-big) * .75);
    /* color: var(--primary); */
}


a.underline {
    text-decoration: underline;
}




/* Flexboxes */

.flex {
    display: flex;

}

.flex.v {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}


.flex.vcenter {
    justify-content: center;
}

.flex.hcenter {
    align-items: center;
}

.flex.space {
    justify-content: space-between;
}

.flex.between:not(.v) {
    justify-content: space-between;
}

.flex.between.v {
    align-items: space-between;
}

.flex.around:not(.v) {
    justify-content: space-around;
}

.flex.around.v {
    align-items: space-around;
}

.flex.evenly:not(.v) {
    justify-content: space-evenly;
}

.flex.evenly.v {
    align-items: space-evenly;
}



/* Gaps */

.gap025 {
    gap: .25rem;
}

.gap05 {
    gap: .5rem;
}

.gap1 {
    gap: 1rem;
}

.gap2 {
    gap: 2rem;
}

.gap3 {
    gap: 3rem;
}

.gap4 {
    gap: 4rem;
}

.gap5 {
    gap: 5rem;
}





/* Blur */

.blur05,.blur1,.blur2,.blur3,.blur4,.blur5 {
    --blur: 0.5rem;
    backdrop-filter: blur(var(--blur));
    filter: blur(0);
}

.blur1 {
    --blur: 1rem;
}

.blur2 {
    --blur: 2rem;
}

.blur3 {
    --blur: 3rem;
}

.blur4 {
    --blur: 4rem;
}

.blur5 {
    --blur: 5rem;
}




/* Grids */

.grid {
    display: grid;
}



/* Positions */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}




/* Overflow */

.hideoverflow {
    overflow: hidden;
}

.overflow {
    overflow: auto;
}

