:root {
	--primary: #fff;
	--desc: #A6BFD1;


	--backg: #0B0C13;
	--page-spacing: 10rem;


	--main: #04FB9F;
}

body {
	background: var(--backg);
	font-family: 'Inter' !important;
	font-weight: 400 !important;
	color: var(--primary);
	padding: 0 var(--page-spacing);

	overflow-x: hidden;
}


/* Heading settings */
h1,h2 {
	font-weight: 800;
}

h3 {
	font-weight: 700;
}


/* Paragraph settings */
p,span,a {
	font-weight: 500;
	color: var(--desc);
	font-size: 1.2rem;
}




/* Custom <a> tag settings */
a {
	text-decoration: none;
}




/* font sizes */
h1 {
	font-size: 5rem;
	letter-spacing: -.075rem;
}

h2 {
	font-size: 2.5rem;
}




p {
	line-height: 1.5;
}



::selection {
	background: var(--main);
	color: #000;
}