:root {
	--primary: #fff;
	--desc: #7e8b95;


	--backg: #0f121e;
	--page-spacing: 10rem;
}

body {
	background: var(--backg);
	font-family: 'Inter' !important;
	font-weight: 400 !important;
	color: var(--primary);
	padding: 0 var(--page-spacing);
}


/* Heading settings */
h1,h2 {
	font-weight: 800;
}

h3 {
	font-weight: 700;
}


/* Paragraph settings */
p,span,a {
	font-weight: 500;
	color: var(--desc);
	font-size: 1.2rem;
}




/* Custom <a> tag settings */
a {
	text-decoration: none;
}